@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>We decided on craft beer due to the growing popularity that we noticed in craft beers and ciders with nearly every pub stocking at least on type of craft beer. Though the term Craft beer is also used to describe foreign brewed beers and wheat beers like the popular beers erdinger (Germany), and hoegaarden (Belgian).
    We also noticed that there were Craft Beer only pubs (like the brew dock, and beerhouse) and popping up all over the country with oldest, biggest and most familiar name would be the Porter House chain in Dublin. Although they have been around a long time they have been growing in popularity since 2005.
    The majority are from microbreweries, but even the big Breweries have even moved into the market like Heineken (Orchard Thieves), Miller Coors (Blue moon) and Even Guinness (St James's Gate range, Brewhouse series, and Hop house 13).
</p>
<h1>Publin.com</h1>
<p>This is a pub price comparison and deal listing website only for Dublin, also with an app that we used as inspiration although this is focused on pubs bars and clubs in general but only in Dublin area. It is very detailed with a lot of information but mostly incomplete.</p>
<h1>beoir.org -</h1>
    <p>Beoir (which is the Irish for beer) is a site for the organisation who are independent group of consumers whose goal is to support and raise awareness of Ireland's native independent microbreweries and craft cider-makers.
    We used some of this sites directories for content for the database, we used the tool on import.io to pull the information down. They also have a mobile application. The site is we found overloaded seems to be mainly focused on articles and social media. And the bar and restaurants information disorganised, incomplete and badly displayed.
    The android app Beoir Finder is a google map with a number of gps pins mainly in Ireland, although has a few pins in other countries too, that is focus on the Dublin city local.  The number of pins pointing to locations of pubs/restaurants, Brewpubs, and microbreweries. They can be filtered to different categories.
    The app is difficult to use as it is similar to google maps and all locations are displayed, it is difficult to use on a smart phone requiring the user to zoom in/out when some filters are set to view all locations outside of the city centre.
    This site was the main inspiration to build an app that will be easy to navigate with more information available and displayed more clearly.</p>

    <p>
    <b>Through Beoir.org we visited links to breweries that were listed in their directory like -</b></p>
    <h1>galwaybaybrewery.com/</h1>
    <p>This is a good site that gives clear and detailed information on the craft beer that they brew with relevant information and descriptions. Also it has pages for their chain of pubs out of ten, eight are here in the Dublin area for each pub it has descriptions, promotions, contact information and links to social media. Ideally we would like to have our app providing all the same information for all places in such a clear and detailed manner.
    theporterhouse.ie/
    As previously said the oldest, Biggest and most popular Craft beer pub. Founded in Dublin in 1989 and formally brewed in the heart of the city in temple bar. The website is filled with information on the chain of pubs and the beers they brew and sell. Although well presented the menu bar is problematic, it doesn’t work too well on mobile and there are no general pages to view a list of all types of beer e.g. a page for stouts, lagers or ales, or pages to list all their bars, meaning users have to scroll over each type or location to display a list which they then have to click on each individy=ual link.
    </p>
<h1>theporterhouse.ie/</h1>
<p>As previously said the oldest, Biggest and most popular Craft beer pub. Founded in Dublin in 1989 and formally brewed in the heart of the city in temple bar. The website is filled with information on the chain of pubs and the beers they brew and sell. Although well presented the menu bar is problematic, it doesn’t work too well on mobile and there are no general pages to view a list of all types of beer e.g. a page for stouts, lagers or ales, or pages to list all their bars, meaning users have to scroll over each type or location to display a list which they then have to click on each individy=ual link.</p>

